In [1]:
import sys
import pandas as pd # type: ignore

sys.path.append("../")
from src import soporte_limpieza as sp_lim

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

path_ficheros_salida = '../datos/output/'
fichero = 'datos-limpios-2013-2021.csv'

df = pd.read_csv(path_ficheros_salida + fichero, sep = ';', index_col = 0)

convertimos la fecha, ya que viene como string

In [2]:
df = sp_lim.l_limpieza_conversion_fecha(df)

In [3]:
df.head(2)

,CODIGO_ORGANIZACION_SUPERIOR,NOMBRE_ORGANIZACION_SUPERIOR,CODIGO_DE_ORGANO,NOMBRE_DEL_ORGANO,CODIGO_DE_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORIA_ECONOMICA,ORIGEN_INGRESO,TIPO_INGRESO,DEPARTAMENTO,VALOR_PREVISTO_ACTUALIZADO,VALOR_LANZADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_LANZAMIENTO,ANIO_EJERCICIO
0,63000,Advocacia-geral da união,63000,Advocacia-geral da união - unidades com víncul...,110060,Coord. geral de orc. fin. e anal. cont. - agu,Receitas correntes,Outras receitas correntes,"Bens, direitos e valores incorporados ao patr",Rec.divida ativa nao tributaria de outras rec,0.0,0.0,1297.13,0.0,2013-12-31,0
1,63000,Advocacia-geral da união,63000,Advocacia-geral da união - unidades com víncul...,110060,Coord. geral de orc. fin. e anal. cont. - agu,Receitas correntes,Outras receitas correntes,"Indenizações, restituições e ressarcimentos",Recuperacao de despesas de exerc. anteriores,0.0,0.0,26666621.42,0.0,2013-12-31,2013

In [4]:
df.dtypes

CODIGO_ORGANIZACION_SUPERIOR             int64
NOMBRE_ORGANIZACION_SUPERIOR            object
CODIGO_DE_ORGANO                         int64
NOMBRE_DEL_ORGANO                       object
CODIGO_DE_UNIDAD_GESTORA                 int64
NOMBRE_UNIDAD_GESTORA                   object
CATEGORIA_ECONOMICA                     object
ORIGEN_INGRESO                          object
TIPO_INGRESO                            object
DEPARTAMENTO                            object
VALOR_PREVISTO_ACTUALIZADO             float64
VALOR_LANZADO                          float64
VALOR_REALIZADO                        float64
PORCENTAJE_REALIZADO                   float64
FECHA_LANZAMIENTO               datetime64[ns]
ANIO_EJERCICIO                           int64
dtype: object

In [5]:
df.describe(include = "object").T

,count,unique,top,freq
NOMBRE_ORGANIZACION_SUPERIOR,1015597,25,Ministério da educação,358074
NOMBRE_DEL_ORGANO,1025237,287,Ministério da economia - unidades com vínculo ...,119666
NOMBRE_UNIDAD_GESTORA,1025528,356,Setorial orcamentaria e financeira / me,108407
CATEGORIA_ECONOMICA,1026142,5,Receitas correntes,961374
ORIGEN_INGRESO,1026142,15,Outras receitas correntes,310590
TIPO_INGRESO,994215,63,Serviços administrativos e comerciais gerais,269353
DEPARTAMENTO,996806,1882,Serv.administrat.e comerciais gerais-princ.,154410

In [6]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
CODIGO_ORGANIZACION_SUPERIOR,1026142.0,31723.080236,0.0,25000.0,26000.0,39000.0,81000.0,11042.830122
CODIGO_DE_ORGANO,1026142.0,31404.444073,0.0,25201.0,26298.0,36000.0,91214.0,10418.387205
CODIGO_DE_UNIDAD_GESTORA,1026142.0,231242.230938,0.0,154003.0,170013.0,250088.0,913001.0,144644.461244
VALOR_PREVISTO_ACTUALIZADO,974827.0,28662758.041957,-214773743.0,0.0,0.0,0.0,1603521711208.0,3479199391.969795
VALOR_LANZADO,999723.0,5277607.072298,-148347267246.910004,0.0,0.0,0.0,357160677863.969971,817153079.860255
VALOR_REALIZADO,986724.0,24990147.628316,-156285934188.029999,260.91,3028.75,40952.2725,771117711060.949951,1418140899.62652
PORCENTAJE_REALIZADO,1002008.0,82.207731,-114552.0,0.0,0.0,0.0,72363772.0,72342.357858
FECHA_LANZAMIENTO,1002467,2018-09-20 04:04:29.177538048,2013-12-31 00:00:00,2017-03-30 00:00:00,2018-08-29 00:00:00,2020-02-12 00:00:00,2021-12-03 00:00:00,NaN
ANIO_EJERCICIO,1026142.0,1513.689817,0.0,2013.0,2017.0,2019.0,2021.0,873.907099