In [1]:
import sys
import pandas as pd # type: ignore

sys.path.append("../")

from src import soporte_limpieza as sp_lim
from src import soporte_load_data as sp

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

path_ficheros_salida = '../datos/output/'
fichero = 'datos-completos-2013-2021.csv'

df = pd.read_csv(path_ficheros_salida + fichero, sep = ';', index_col = 0)

In [2]:
df.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000.0,NaN,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,NaN

Antes de limpeza de datos

In [3]:
df.dtypes

CÓDIGO ÓRGÃO SUPERIOR        float64
NOME ÓRGÃO SUPERIOR           object
CÓDIGO ÓRGÃO                 float64
NOME ÓRGÃO                    object
CÓDIGO UNIDADE GESTORA       float64
NOME UNIDADE GESTORA          object
CATEGORIA ECONÔMICA           object
ORIGEM RECEITA                object
ESPÉCIE RECEITA               object
DETALHAMENTO                  object
VALOR PREVISTO ATUALIZADO     object
VALOR LANÇADO                 object
VALOR REALIZADO               object
PERCENTUAL REALIZADO          object
DATA LANÇAMENTO               object
ANO EXERCÍCIO                float64
dtype: object

1. Limpieza del dataFrame.

In [4]:
df_limpio = sp_lim.l_cambio_nombre_columnas(df)

In [5]:
df_limpio = sp_lim.l_limpieza_de_datos(df_limpio)

In [6]:
col1 = 'CODIGO_ORGANIZACION_SUPERIOR'
col2 = 'NOMBRE_ORGANIZACION_SUPERIOR'

df_limpio = sp_lim.l_rellenado_faltante(df_limpio,col1, col2, True)

In [7]:
col1 = 'NOMBRE_ORGANIZACION_SUPERIOR'
col2 = 'CODIGO_ORGANIZACION_SUPERIOR'

df_limpio = sp_lim.l_rellenado_faltante(df_limpio,col1, col2, False)

In [8]:
col1 = 'CODIGO_DE_ORGANO'
col2 = 'NOMBRE_DEL_ORGANO'

df_limpio = sp_lim.l_rellenado_faltante(df_limpio,col1, col2, True)

In [9]:
col1 = 'NOMBRE_DEL_ORGANO'
col2 = 'CODIGO_DE_ORGANO'

df_limpio = sp_lim.l_rellenado_faltante(df_limpio,col1, col2, False)

In [10]:
col1 = 'CODIGO_DE_UNIDAD_GESTORA'
col2 = 'NOMBRE_UNIDAD_GESTORA'

df_limpio = sp_lim.l_rellenado_faltante(df_limpio,col1, col2, True)

In [11]:
col1 = 'NOMBRE_UNIDAD_GESTORA'
col2 = 'CODIGO_DE_UNIDAD_GESTORA'

df_limpio = sp_lim.l_rellenado_faltante(df_limpio,col1, col2, False)

In [12]:
df_limpio = sp_lim.l_limpieza_de_datos_final(df_limpio)

In [13]:
df_limpio.sample(1)

,CODIGO_ORGANIZACION_SUPERIOR,NOMBRE_ORGANIZACION_SUPERIOR,CODIGO_DE_ORGANO,NOMBRE_DEL_ORGANO,CODIGO_DE_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORIA_ECONOMICA,ORIGEN_INGRESO,TIPO_INGRESO,DEPARTAMENTO,VALOR_PREVISTO_ACTUALIZADO,VALOR_LANZADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_LANZAMIENTO,ANIO_EJERCICIO
766216,52000,Ministério da defesa,52904,Fundo do exército,167086,Fundo do exercito,Receitas correntes,Receita de serviços,Serviços e atividades referentes à navegação,Servicos de transporte-principal,0.0,0.0,864.4,0.0,2020-10-23,2020

Despues de limpieza y conversion de tipos

In [14]:
df_limpio.dtypes

CODIGO_ORGANIZACION_SUPERIOR             int64
NOMBRE_ORGANIZACION_SUPERIOR            object
CODIGO_DE_ORGANO                         int64
NOMBRE_DEL_ORGANO                       object
CODIGO_DE_UNIDAD_GESTORA                 int64
NOMBRE_UNIDAD_GESTORA                   object
CATEGORIA_ECONOMICA                     object
ORIGEN_INGRESO                          object
TIPO_INGRESO                            object
DEPARTAMENTO                            object
VALOR_PREVISTO_ACTUALIZADO             float64
VALOR_LANZADO                          float64
VALOR_REALIZADO                        float64
PORCENTAJE_REALIZADO                   float64
FECHA_LANZAMIENTO               datetime64[ns]
ANIO_EJERCICIO                           int64
dtype: object

verificamos duplicados

In [15]:
df_limpio[df_limpio.duplicated()]

Empty DataFrame
Columns: [CODIGO_ORGANIZACION_SUPERIOR, NOMBRE_ORGANIZACION_SUPERIOR, CODIGO_DE_ORGANO, NOMBRE_DEL_ORGANO, CODIGO_DE_UNIDAD_GESTORA, NOMBRE_UNIDAD_GESTORA, CATEGORIA_ECONOMICA, ORIGEN_INGRESO, TIPO_INGRESO, DEPARTAMENTO, VALOR_PREVISTO_ACTUALIZADO, VALOR_LANZADO, VALOR_REALIZADO, PORCENTAJE_REALIZADO, FECHA_LANZAMIENTO, ANIO_EJERCICIO]
Index: []

In [16]:
df_limpio.head(1)

,CODIGO_ORGANIZACION_SUPERIOR,NOMBRE_ORGANIZACION_SUPERIOR,CODIGO_DE_ORGANO,NOMBRE_DEL_ORGANO,CODIGO_DE_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORIA_ECONOMICA,ORIGEN_INGRESO,TIPO_INGRESO,DEPARTAMENTO,VALOR_PREVISTO_ACTUALIZADO,VALOR_LANZADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_LANZAMIENTO,ANIO_EJERCICIO
0,63000,Advocacia-geral da união,63000,Advocacia-geral da união - unidades com víncul...,110060,Coord. geral de orc. fin. e anal. cont. - agu,Receitas correntes,Outras receitas correntes,"Bens, direitos e valores incorporados ao patr",Rec.divida ativa nao tributaria de outras rec,0.0,0.0,1297.13,0.0,2013-12-31,0

In [17]:
df_limpio.describe(include = "object").T

,count,unique,top,freq
NOMBRE_ORGANIZACION_SUPERIOR,1015597,25,Ministério da educação,358074
NOMBRE_DEL_ORGANO,1025237,287,Ministério da economia - unidades com vínculo ...,119666
NOMBRE_UNIDAD_GESTORA,1025528,356,Setorial orcamentaria e financeira / me,108407
CATEGORIA_ECONOMICA,1026142,5,Receitas correntes,961374
ORIGEN_INGRESO,1026142,15,Outras receitas correntes,310590
TIPO_INGRESO,994215,63,Serviços administrativos e comerciais gerais,269353
DEPARTAMENTO,996806,1882,Serv.administrat.e comerciais gerais-princ.,154410

In [18]:
df_limpio.describe().T

,count,mean,min,25%,50%,75%,max,std
CODIGO_ORGANIZACION_SUPERIOR,1026142.0,31723.080236,0.0,25000.0,26000.0,39000.0,81000.0,11042.830122
CODIGO_DE_ORGANO,1026142.0,31404.444073,0.0,25201.0,26298.0,36000.0,91214.0,10418.387205
CODIGO_DE_UNIDAD_GESTORA,1026142.0,231242.230938,0.0,154003.0,170013.0,250088.0,913001.0,144644.461244
VALOR_PREVISTO_ACTUALIZADO,974827.0,28662758.041957,-214773743.0,0.0,0.0,0.0,1603521711208.0,3479199391.969795
VALOR_LANZADO,999723.0,5277607.072298,-148347267246.910004,0.0,0.0,0.0,357160677863.969971,817153079.860255
VALOR_REALIZADO,986724.0,24990147.628316,-156285934188.029999,260.91,3028.75,40952.2725,771117711060.949951,1418140899.62652
PORCENTAJE_REALIZADO,1002008.0,82.207731,-114552.0,0.0,0.0,0.0,72363772.0,72342.357858
FECHA_LANZAMIENTO,1002467,2018-09-20 04:04:29.177538048,2013-12-31 00:00:00,2017-03-30 00:00:00,2018-08-29 00:00:00,2020-02-12 00:00:00,2021-12-03 00:00:00,NaN
ANIO_EJERCICIO,1026142.0,1513.689817,0.0,2013.0,2017.0,2019.0,2021.0,873.907099

Guardamos el resultado en un csv

In [ ]:
sp.save_to_file(df_limpio,"datos-limpios-2013-2021.csv")