In [1]:
import sys
import pandas as pd # type: ignore
import numpy as np # type: ignore

sys.path.append("../")

from src import soporte_load_data as sp

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

path_ficheros_salida = '../datos/output/'
fichero = 'datos-completos-2013-2021.csv'

df = pd.read_csv(path_ficheros_salida + fichero, sep = ';', index_col = 0)

In [2]:
df.head(2)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000.0,NaN,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,NaN
1,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","26666621,42","0,00",31/12/2013,2013.0

In [3]:
df.describe(include = "object").T

,count,unique,top,freq
NOME ÓRGÃO SUPERIOR,667093,25,Ministério da Educação,235281
NOME ÓRGÃO,991412,287,Ministério da Economia - Unidades com vínculo ...,115437
NOME UNIDADE GESTORA,1006818,356,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,106170
CATEGORIA ECONÔMICA,1007321,5,Receitas Correntes,961527
ORIGEM RECEITA,987881,15,Outras Receitas Correntes,310617
ESPÉCIE RECEITA,994372,63,Serviços Administrativos e Comerciais Gerais,269440
DETALHAMENTO,996962,1883,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,154458
VALOR PREVISTO ATUALIZADO,974984,17702,"0,00",956134
VALOR LANÇADO,999880,6633,"0,00",992838
VALOR REALIZADO,986834,585595,"0,00",20221
PERCENTUAL REALIZADO,1002165,953,"0,00",994924
DATA LANÇAMENTO,1002468,2151,31/12/2014,4411

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
CÓDIGO ÓRGÃO SUPERIOR,995940.0,32053.240155,10614.740359,20000.0,25000.0,26000.0,39000.0,81000.0
CÓDIGO ÓRGÃO,1001182.0,31438.033358,10385.984942,20101.0,25201.0,26298.0,36000.0,91214.0
CÓDIGO UNIDADE GESTORA,992718.0,231293.255710,144174.177831,110005.0,154003.0,170013.0,250088.0,913001.0
ANO EXERCÍCIO,769725.0,2018.225552,1.737972,2013.0,2017.0,2018.0,2020.0,2021.0

1. Limpieza del dataFrame.

In [5]:
#df_2021.dtypes
#df_2021["ANO EXERCÍCIO"].fillna(2021, inplace=True)
#df_2021["ANO EXERCÍCIO"] = df_2021["ANO EXERCÍCIO"].astype(int)
#filtro = df_2021["ANO EXERCÍCIO"].notnull().reset_index()

#df_2021.info()
#df_2021[df_2021.notnull().reset_index()]
#df_2021.describe()
#df_2021.head(5)